@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
font-family: 'Open-Sans', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #2F4F4F;
}

.content{
	background-color: #fff;
	border-radius: 15px;
	width: 960px;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.content::before{
	content: "";
	position: absolute;
	background-color: #58af9b;
	width: 40%;
	height: 100%;
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	
	left: 0;
}


.title{
	font-size: 28px;
	font-weight: bold;
	text-transform: captalize; /* coloca as primeiras letras de cada palavra em caixa alta */ 
}
.title-welcome{
	color: #fff;
}

.title-primary{
	color: #fff;
}

.title-second{
	color: #58af9b;
}

.description{
	font-size:14px;
	font-weight: 300;
	line-height: 30px;
}

.description-primary{
	color: #fff;
}

.description-second{
	color: #2F4F4F;
}
 
 .description-second:hover{
	 color: #58af9b;
 }
 
.btn{
	border-radius: 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	padding: 10px 50px;
	cursor: pointer;
	font-weight: bold;
	width: 150px;
	align-self: center;
	border: none;
	margin-top: 1rem;
}

.btn-primary{
	background-color: #58af9b;
	border: 1px solid #58af9b;
	transition: background-color 1s;  
}

.btn-primary:hover{
	background-color: #fff;
	border: 1px solid #58af9b;
	color: #66CDAA;
}

.first-content{
display: flex;	/* coloca as colunas uma ao lado da outra*/
}

.first-content .second-column {
    z-index: 11;
}

.first-column{
	text-align: center;
	width: 40%;
	z-index: 10;
}

.second-column {
	width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ajustar as cores para o navegador */
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}


